[Unit]
Description=Connect to Wi-Fi network and configure IP address
After=network.target

[Service]
Type=simple
ExecStart=/etc/init.d/S02blctl
WorkingDirectory=/
StandardOutput=inherit
StandardError=inherit
User=root

[Install]
WantedBy=multi-user.target
